<section id="hero" style="text-align: center; justify-content: center;">
    <div class="container hero-content">
        <span class="hero-tag mono" style="color: var(--danger);">[ STATUS: 404 ]</span>
        <h1 style="margin-bottom: 20px;">{{{error404.headline}}}</h1>
        <p class="hero-sub" style="margin: 0 auto 40px auto;">
            {{error404.subtext}}
        </p>
        <a href="/" class="btn mono">{{{feather "terminal" width="18" height="18"}}} {{error404.buttonText}}</a>
    </div>
</section>
